




/*
@media only screen and (max-width: 700px) {
  .vl {
    display: none;
  }
}

footer {
  color: #fff;
  background-color: #034873;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 20px;
}

.container:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
.container:nth-child(2) {
  flex-direction: row;
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
}

.footer-menu-links li a:hover {
  color: #0088a9;
}
.vl {
  border-left: 6px solid white;
  height: 250px;
}

ul {
  flex-wrap: wrap;
  list-style: none;
  line-height: 40px;
}
li {
  padding: 0 15px;
  margin-bottom: 16px;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

i {
  cursor: pointer;
  font-size: 25px;
}

p {
  text-align: center;
}
#footer-logo {
  width: 371px;
}
