header {
  height: 100px;
  width: 100%;
  background-color: #bfcfd9;
}
.inner {
  max-width: 699x;
  margin: 0 auto;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

label {
  display: block;
  cursor: pointer;
}

.menu {
  text-align: center;
  width: 100%;
}
.menu a {
  display: block;
  border-bottom: 1px solid #bfcfd9;
  margin: 0px;
}
#toggle:checked + .menu {
  display: block;
}

/*------------------------
 header/navigation
 -------------------------
@media only screen and (max-width: 700px) {
  header {
    height: 100px;
    width: 100%;
    background-color: #bfcfd9;
  }
    div {
      /*hide nav on load
      display: block;
      background-color: whitesmoke;
      padding: 0.5em;
      border-bottom: 2px solid grey;
      /* animate: default state on page load 
      transition: all 0.4s linear;
      transform: translateY(0px);
      opacity: 0;
    }
    .sr-only {
      display: none;
    }

    #hamburger-menu {
      /* hide checkbox 
      display: none;
    }
    #hamburger-menu:checked ~ nav--links {
      /*show nav :checked:*
      display: block;
      /* animate into page show state 
      transform: translateY(0px);
      opacity: 1;
    }
    #id {
      display: none;
    }
  
  }

  .nav__links {
    display: none;
  }
  li,
  a {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
  }

  .inner {
    max-width: 699x;
    margin: 0 auto;
  }
  .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .logo {
    cursor: hover;
  }

  #sb {
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 33px;
    padding: 5px;
  }
}

/*-------------------------------------------
------------------desktop-------------------
-------------------------------------------

@media only screen and (min-width: 700px)
.hamburger-menu {
  display: none;
}
header {
  height: 100px;
  width: 100%;
  background-color: #bfcfd9;
}

li,
a {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: whitesmoke;
  text-decoration: none;
}

.inner {
  max-width: 1249px;
  margin: 0 auto;
}
.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  cursor: hover;
}

#sb {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 415px;
  height: 33px;
  padding: 5px;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: #0088a9;
}

.icon {
  display: inline-block;
}
.nav__links li:nth-child(5),
.nav__links li:nth-child(6) {
  padding: 5px;
}
*/ ;
