/*  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: rubik;
}


@media only screen and (max-width 700px) {

.hero-banner {
  background-image: url(../img/hero-banner.png);
  height: 700px;
  width: 100%;
}
}

.hero-banner {
  background-image: url(../img/hero-banner.png);
  height: 1100px;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero-banner-text {
  font-size: 60px;
  line-height: 71px;
  color: white;
  padding-bottom: 30px;
  padding-top: 90px;
}
.relative {
  position: relative;
}
.textandcta {
  position: absolute;
  top: 300px;
}
.ctabj {
  margin-top: 50px;
  background-color: #8fa63f;
  width: 176px;
  height: 33px;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
}
*/
